body {
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  flex-wrap: wrap;
  align-content: flex-end;
  height: 100vh;
  width: 100vw;
}

div {
  height: 10vh;
  width: 30vw;
}

body div:nth-of-type(1) {
  background-color: rgb(191, 64, 64);
}
body div:nth-of-type(2) {
  background-color: rgb(64, 128, 191);
}
body div:nth-of-type(3) {
  background-color: rgb(191, 191, 64);
}
body div:nth-of-type(4) {
  background-color: rgb(128, 64, 191);
}
body div:nth-of-type(5) {
  background-color: rgb(64, 191, 64);
}
body div:nth-of-type(6) {
  background-color: rgb(191, 64, 128);
}
body div:nth-of-type(7) {
  background-color: rgb(64, 191, 191);
}
body div:nth-of-type(8) {
  background-color: rgb(191, 128, 64);
}
